.wrapper {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month {
    color: #323F47;
    margin-right: 58px;
    font-weight: 700;
    font-size: 24px;
}