.btn {
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background: #9be1a0;

  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
}
.btnCancel {
  display: none;
}

.btn:hover,
.btn:focus {
  background-color: #88d392;
}
/* 
.btn:disabled {
}

.btn:active {
}

.btn.isSelected {
} */
